/* src/index.css */
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Custom utility classes jika diperlukan */
.bg-orange-btn {
  background-color: #f5923e;
}

.bg-orange-btn:hover {
  background-color: #e67e22;
}

.text-orange {
  color: #f5923e;
}

.border-orange {
  border-color: #f5923e;
}